.header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #ffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 820px;
  height: 100vh;
  position: relative;
  background-position: center;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}
.header__title {
  position: relative;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin-left: 80px;
  margin-bottom: 28px;
  margin-top: 0;
  z-index: 2;
}
.header__description {
  position: absolute;
  margin: 0 0 0 80px;
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  width: 47%;
  z-index: 2;
  vertical-align: bottom;
}
.header__image {
  max-width: 636px;
  position: absolute;
  right: 5px;
  top: 124px;
  z-index: 0;
}
.header__paragraph {
  box-sizing: border-box;
  position: absolute;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  display: flex;
  bottom: 40px;
  padding-left: 80px;
  width: 100%;
  padding-right: 80px;
  margin-right: 0;
}
.header__column-heading {
  margin: 0;
}
.header__address {
  align-self: flex-end;
  margin: 0 0 0 auto;
}
