.menu {
  background-color: #0a2750;
  background-image: url(../images/background_menu.svg);
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu__title {
  margin-bottom: 24px;
  max-width: 780px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  align-self: center;
  margin-top: 0;
}
.menu__subtitle {
  max-width: 780px;
  align-self: center;
  font-family: "Noto Serif", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.menu__cards {
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 100px;
  min-width: 1300px;
}
